---
version: "3"
services:
    grocy:
        image: lscr.io/linuxserver/grocy:latest
        container_name: grocy
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=America/New_York
        volumes:
            - ./config:/config
        expose:
            - 80
        restart: unless-stopped
        deploy:
            resources:
                limits:
                    cpus: '2.0'

networks:
    default:
        external: true
        name: "{{ docker_network }}"
