version: "3"

services:
    jellyfin:
        container_name: jellyfin
        image: jellyfin/jellyfin:latest
        restart: unless-stopped
        expose:
            - 8096
        environment:
            - TZ=America/New_York
        volumes:
            - ./config:/config
            - ./cache:/cache
            - ~/media:/media
        deploy:
            resources:
                limits:
                    cpus: '2.0'

networks:
    default:
        external: true
        name: "{{ docker_network }}"
