---
version: '3.9'
services:
    adguard:
        container_name: adguard
        restart: unless-stopped
        volumes:
            - './work:/opt/adguardhome/work'
            - './conf:/opt/adguardhome/conf'
        ports:
            - '53:53/tcp'
            - '53:53/udp'
        expose:
            # setup port
            - "3000"
            # admin port
            - "3003"
        image: adguard/adguardhome
        deploy:
            resources:
                limits:
                    cpus: '2.0'

networks:
    default:
        external: true
        name: "{{ docker_network }}"
