version: "3"
services:
    watchtower:
        container_name: watchtower
        image: containrrr/watchtower
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        environment:
            - TZ=America/New_York
            - WATCHTOWER_NOTIFICATIONS=gotify
            - "WATCHTOWER_NOTIFICATION_GOTIFY_URL=http://gotify/"
            - WATCHTOWER_NOTIFICATION_GOTIFY_TOKEN=Acp0CkYpmU8iver
            - WATCHTOWER_NOTIFICATION_GOTIFY_TLS_SKIP_VERIFY=true
        deploy:
            resources:
                limits:
                    cpus: '2.0'

networks:
    default:
        external: true
        name: "{{ docker_network }}"
