version: "3.0"

services:
    selenium-chrome:
        image: selenium/standalone-chrome
        container_name: selenium-chrome
        expose:
            - 4444
            - 7900
        shm_size: 2g

networks:
    default:
        external: true
        name: "{{ docker_network }}"
