version: "3.3"
services:
    homepage:
        image: ghcr.io/benphelps/homepage:latest
        container_name: homepage
        expose:
            - 3000
        volumes:
            - ./config:/app/config # Make sure your local config directory exists
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - "{{ mnt_point_1tb }}:/mnt"
        restart: unless-stopped
        deploy:
            resources:
                limits:
                    cpus: '2.0'

networks:
    default:
        external: true
        name: "{{ docker_network }}"
