- Entertainment:
    - Media:
        icon: firewalla
        href: http://media.{{ localm }}
        server: my-docker
        container: omniserver
    - Jellyfin:
        icon: jellyfin
        href: "https://tv.{{ domain }}"
        server: my-docker
        container: jellyfin
        widget:
            type: jellyfin
            url: "http://jellyfin:8096"
            key: "{{ apikeys.jellyfin }}"
    - Downloader:
        icon: pyload
        href: https://dload.{{ domain }}
        server: my-docker
        container: pyload
    - Youtube-dl:
        icon: youtubedl
        href: https://ytdl.{{ domain }}
        server: my-docker
        container: ytdl


- Documents:
    - Library:
        icon: kavita
        href: https://lib.{{ domain }}
    - Wiki:
        icon: etherpad
        href: https://wiki.{{ domain }}/
    - Actual:
        icon: actual
        href: https://actual.{{ domain }}/
    - Kitchen:
        icon: grocy
        href: https://kitchen.{{ domain }}/
    - Nextcloud:
        icon: nextcloud
        href: https://nc.{{ domain }}
        server: my-docker
        container: nextcloud

- Monitoring:
    - Notifications:
        icon: gotify
        href: "https://{{ domain }}/logs/"
        widget:
            type: gotify
            url: "http://gotify:80"
            key: "{{ apikeys.gotify }}"
    - Graphs:
        icon: grafana
        href: http://graph.{{ localm }}/
        server: my-docker
        container: grafana
    - Scrutiny:
        icon: scrutiny
        href: http://scrutiny.{{ localm }}/
    - Dozzle:
        icon: dozzle
        href: https://dozzle.{{ domain }}

- Tools:
    - Backup:
        icon: kopia
        href: https://kopia.{{ domain }}
        server: my-docker
        container: kopia
    - Commander:
        icon: cloudcmd
        href: http://cmd.{{ localm }}/
    - AdGuard:
        icon: adguard-home
        href: https://adguard.{{ domain }}
        server: my-docker
        container: adguard
    - NginX:
        icon: nginx
        href: http://{{ localm }}:81/
        server: my-docker
        container: nginx-proxy
    - Portainer:
        icon: portainer
        href: https://{{ domain }}/port/
        server: my-docker
        container: portainer

- Others:
    - Router:
        icon: coredns
        href: http://192.168.1.254
