- Setup:
    - Portainer:
        href: http://port.{{ localm }}/
    - AdGuard:
        href: http://dns.{{ localm }}/
    - NginX:
        href: http://{{ localm }}:81/
    - Graphs:
        href: http://graph.{{ localm }}/
    - Scrutiny:
        href: http://scrutiny.{{ localm }}/
    - Library:
        href: https://lib.{{ domain }}/
    - Kitchen:
        href: https://kitchen.{{ domain }}/
    - Youtube-dl:
        href: https://ytdl.{{ localm }}/

- Tools:
    - Media:
        href: http://media.{{ localm }}/
    - Downloader:
        href: http://dload.{{ localm }}/
    - Nextcloud:
        href: https://nc.{{ domain }}/
    - Backup:
        href: http://backup.{{ localm }}/
    - Dozzle:
        href: http://dozzle.{{ localm }}/
    - Notifications:
        href: http://logs.{{ localm }}/
    - Commander:
        href: http://cmd.{{ localm }}/
