- Setup:
    - Portainer:
        href: http://port.{{ localm }}/
    - AdGuard:
        href: http://dns.{{ localm }}/
    - NginX:
        href: http://{{ localm }}:81/
    - Graphs:
        href: http://graph.{{ localm }}/

- Tools:
    - Media:
        href: http://media.{{ localm }}/
    - Downloader:
        href: http://dload.{{ localm }}/
    - Nextcloud:
        href: https://nc.{{ domain }}/
    - Backup:
        href: http://backup.{{ localm }}/
