[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[user]
        name = {{ git.username }}
        email = {{ git.email }}
[core]
        autocrlf = false
        eol = lf
