version: "3"
services:
    cloudcommander:
        image: coderaiser/cloudcmd
        container_name: cloudcommander
        expose:
            - 8000
        volumes:
            - ~:/root
        deploy:
            resources:
                limits:
                    cpus: '2.0'

networks:
    default:
        external: true
        name: "{{ docker_network }}"
