version: "3"

services:
    ncredis:
        image: redis
        restart: unless-stopped
        command: redis-server --requirepass redpass
        expose:
            - 6379

    nextcloud:
        image: nextcloud
        restart: unless-stopped
        expose:
            - 80
        volumes:
            - ./data:/data
            # - ./config:/var/www/html/config
            - /etc/localtime:/etc/localtime:ro

        environment:
            - REDIS_HOST=ncredis
            - REDIS_HOST_PASSWORD=redpass
            - OVERWRITEPROTOCOL=https
            - TRUSTED_PROXIES="192.168.0.102 nginx-proxy"

        depends_on:
            - ncredis

networks:
    default:
        external: true
        name: "{{ docker_network }}"
